html {
  body,
  input,
  button {
    font-family: $global-font-family;
  }
}

ul,
ol,
dl,
dt,
dd,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

legend,
caption {
  display: none;
}
